@use 'sass:math';

// インナー幅
$innerWidth: 1240px;

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

// フォント
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&display=swap');

$font-main: "Noto Sans JP", sans-serif;
$font-outfit: "Outfit", sans-serif;
$font-figtree: "Figtree", sans-serif;

// 色指定
$black: #3C3C3C;
$gray: #636363;
$white: #fff;
$green: #00A9AC;
$green-light: #E5F6F7;
$darkgreen: #005563;
$line-color: #CACACA;
$line-color-light: #E7E7E7;
$yellow: #F6FFDB;
$yellow-hover: #F6FF00;

// ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 1024,
  xl: 1440,
);

// メディアクエリ
$mediaquerys: (
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// メディアクエリを "@include mq(){}" で書くことができる
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}