@use "global" as *;

.c-arrow {
  width: myrem(32);
  height: myrem(32);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  @include mq(md){
    width: myrem(46);
    height: myrem(46);
    transition: .3s ease;
  }
}

.c-arrow--wht {
  background: $white;
}

// a:hover .c-arrow--wht {
//   @include mq(md){
//     background: $darkgreen;
//   }
// }

.c-arrow--light {
  background: $green-light;
}

a:hover .c-arrow--light {
  @include mq(md){
    background: $darkgreen;
  }
}

.c-arrow--green {
  background: $green;
}

a:hover .c-arrow--green {
  @include mq(md){
    background: $darkgreen;
  }
}

.c-arrow--light:hover .c-arrow::after,
.c-arrow--green:hover .c-arrow::after {
  @include mq(md){
    content: "";
    width: myrem(16);
    height: myrem(12);
    background: transparent url(../images/common/arrow_right_wht.svg) no-repeat center center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: .3s ease;
    opacity: 1;
  }
}

.c-arrow--light:hover .c-arrow::after,
.c-arrow--green:hover .c-arrow::after {
  @include mq(md){
    animation: moveArrow .3s forwards;
  }
}
@keyframes moveArrow {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  50% {
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(0%, -50%);
  }

  50.1% {
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-100%, -50%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

.c-arrow img {
  width: myrem(10);
  height: myrem(8);
  object-fit: cover;
  @include mq(md){
    width: myrem(16);
    height: myrem(12);
  }
}

.c-arrow--light:hover .c-arrow img,
.c-arrow--green:hover .c-arrow img {
  @include mq(md){
    opacity: 0;
  }
}