@use "global" as *;

.c-arrow {
  width: myrem(32);
  height: myrem(32);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  @include mq(md){
    width: myrem(46);
    height: myrem(46);
    transition: .3s ease;
  }
}

.c-arrow--wht {
  background: $white;
}

// a:hover .c-arrow--wht {
//   @include mq(md){
//     background: $darkgreen;
//   }
// }

.c-arrow--light {
  background: $green-light;
}

a:hover .c-arrow--light {
  @include mq(md){
    background: $darkgreen;
  }
}

.c-arrow--green {
  background: $green;
}

a:hover .c-arrow--green {
  @include mq(md){
    background: $darkgreen;
  }
}

.c-arrow--light::before,
.c-arrow--green::before {
  @include mq(md){
    content: "";
    width: myrem(16);
    height: myrem(12);
    background: transparent url(../images/common/arrow_right_wht.svg) no-repeat center center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300%, -50%);
    -webkit-transform: translate(-300%, -50%);
    transition: .3s ease;
    opacity: 1;
  }
}

a:hover .c-arrow::before {
  @include mq(md){
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

.c-arrow--light::after,
.c-arrow--green::after {
  @include mq(md){
    content: "";
    width: myrem(16);
    height: myrem(12);
    background: transparent url(../images/common/arrow_right_wht.svg) no-repeat center center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: .3s ease;
    opacity: 1;
  }
}
.c-arrow--light::after {
  @include mq(md){
    background: transparent url(../images/common/arrow_right_green.svg) no-repeat center center / 100%;
  }
}

a:hover .c-arrow::after {
  @include mq(md){
    transform: translate(200%, -50%);
    -webkit-transform: translate(200%, -50%);
    opacity: 1;
  }
}

.c-arrow img {
  width: myrem(10);
  height: myrem(8);
  object-fit: cover;
  @include mq(md){
    width: myrem(16);
    height: myrem(12);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: .3s ease;
  }
}

a:hover .c-arrow--light img,
a:hover .c-arrow--green img {
  @include mq(md){
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(200%, -50%);
  }
}