@use "global" as *;

.c-btn01 {
  width: myrem(240);
  height: myrem(60);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 2px solid $green;
  background: $green;
  position: relative;
  @include mq(md){
    opacity: 1;
    // transition: all 0.4s ease 0s;
  }
}

.c-btn01--dg {
  border: 2px solid $darkgreen;
  background: $darkgreen;
}

.c-btn01::before {
  @include mq(md){
    content: '';
    width: 0;
    height: 100%;
    border: 2px solid $green;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease 0s;
    background: $darkgreen;
  }
}
.c-btn01:hover::before {
  @include mq(md){
    width: 100%;
    opacity: 1;
  }
}

.c-btn01--dg::before {
  @include mq(md){
    border: 2px solid $darkgreen;
    background: $green;
  }
}

.c-btn01::after {
  content: '';
  width: myrem(20);
  height: myrem(22);
  background: url(../images/common/icon_power.svg) no-repeat center center / 100%;
  position: absolute;
  top: 50%;
  right: myrem(25);
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  z-index: 101;
  @include mq(md){
    width: myrem(20);
    height: myrem(22);
    right: myrem(24);
    // transition: all 0.4s ease 0s;
    opacity: 1;
  }
}
.c-btn01:hover::after {
  @include mq(md){
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-image: url(../images/common/icon_power.svg);
    background: $yellow-hover;
  }
}

.c-btn01__text {
  font-size: myrem(18);
  color: $white;
  line-height: 1;
  letter-spacing: 0.09em;
  font-weight: 700;
  position: relative;
  z-index: 1;
  @include mq(md){
    font-size: myrem(20);
  }
}