@use "global" as *;

.c-btn02 {
  display: inline-flex;
  align-items: center;
  color: $white;
  column-gap: myrem(23);
}

.c-btn02__text {
  font-size: myrem(18);
  color: $white;
  line-height: 1;
  font-family: $font-figtree;
  font-weight: 600;
  @include mq(md){
    font-size: myrem(20);
  }
}

.c-btn02__arrow {

}