@use "global" as *;

.c-section-read {
  font-size: myrem(18);
  line-height: calc(36 / 18);
  @include mq(md){
    font-size: myrem(18);
    line-height: calc(36 / 18);
  }
}

.c-section-read em {
  display: inline-block;
  font-weight: 700;
  font-style: normal;
}