@use "global" as *;

.p-footer {
  background: $darkgreen;
  padding: myrem(48) 0 myrem(56);
  @include mq(md){
    padding: myrem(66) 0 myrem(64);
  }
}

.p-footer__inner {
  padding: 0 myrem(30);
  @include mq(md){
    padding: 0 myrem(25);
  }
}

.p-footer__logo {
  display: block;
  width: myrem(204);
  margin-inline: auto;
  @include mq(md){
    width: myrem(255);
  }
}

.p-footer__logo:hover {
  @include mq(md){
    opacity: 0.7;
  }
}

.p-footer__logo img {
  width: 100%;
  height: auto;
}

.p-footer__nav {
  width: calc(318 / 330 * 100%);
  margin-inline: auto;
  margin-top: myrem(46);
  @include mq(md){
    width: auto;
    margin-inline: 0;
    margin-top: myrem(46);
  }
}

.p-footer__navList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: myrem(22);
  row-gap: myrem(19);
  @include mq(md){
    column-gap: myrem(38);
  }
}

.p-footer__navItem {

}

.p-footer__navLink {
  display: block;
  font-size: myrem(14);
  color: $white;
  line-height: 1;
  font-weight: 400;
  position: relative;
  @include mq(md){
    font-size: myrem(18);
  }
}

.p-footer__navLink::after {
  @include mq(md){
    content: '';
    width: 100%;
    height: 1px;
    background: $white;
    position: absolute;
    bottom: myrem(-8);
    left: 0;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
  }
}
.p-footer__navLink:hover::after {
  @include mq(md){
    transform: scale(1, 1);
    transform-origin: left top;
    opacity: 1;
  }
}

.p-footer__group {
  margin-top: myrem(41);
  text-align: center;
  @include mq(md){
    max-width: myrem(726);
    margin-inline: auto;
    margin-top: myrem(46);
  }
}

.p-footer__group-head {
  position: relative;
}

.p-footer__group-head::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgba($white, 0.5);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  @include mq(md){
    top: 50%;
  }
}

.p-footer__group-title {
  display: inline-flex;
  padding-inline: myrem(11);
  font-size: myrem(14);
  color: $white;
  line-height: calc(17 / 14);
  font-weight: 400;
  background: $darkgreen;
  position: relative;
  z-index: 1;
  @include mq(md){
    padding-inline: myrem(32);
    font-size: myrem(18);
  }
}

.p-footer__groupList {
  margin-top: myrem(16);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: myrem(10);
  @include mq(md){
    margin-top: myrem(20);
    grid-template-columns: repeat(3, 1fr);
    column-gap: myrem(33);
    row-gap: myrem(31);
  }
}

.p-footer__groupItem {

}

.p-footer__groupLink {
  display: block;
  @include mq(md){
    transition: .3s ease;
  }
}

.p-footer__groupLink:hover {
  @include mq(md){
    filter: brightness(120%);
    opacity: 1;
  }
}

.p-footer__groupLink img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 160 / 73;
  @include mq(md){
    aspect-ratio: 220 / 100;
  }
}



.p-footer__copyright {
  margin-top: myrem(44);
  font-size: myrem(12);
  color: $white;
  line-height: 1.5;
  font-family: $font-figtree;
  font-weight: 400;
  text-align: center;
  @include mq(md){
    margin-top: myrem(41);
    font-size: myrem(14);
    line-height: calc(32 / 14);
  }
}