@use "global" as *;

.p-mv {
  padding-top: myrem(50);
  padding-bottom: myrem(72);
  background: $darkgreen;
  overflow: hidden;
  @include mq(md){
    height: myrem(830);
    padding-top: 0;
    padding-bottom: 0;
  }
}

.p-mv__content {
  width: calc(358 / 390 * 100%);
  margin-inline: auto;
  margin-top: myrem(-24);
  position: relative;
  z-index: 5;
  @include mq(md){
    width: 100%;
    max-width: myrem(1250);
    margin-inline: 0;
    margin-top: 0;
    position: absolute;
    top: myrem(334);
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
}

.p-mv__content-read {
  display: inline;
  font-size: myrem(36);
  color: $white;
  line-height: calc(46 / 36);
  font-family: $font-figtree;
  font-weight: 700;
  background: linear-gradient($white, $white) 100% 100%/0 1px no-repeat;
  background-size: 100% 2px;
  background-position: 0 92%;
  background-repeat: no-repeat;
  @include mq(md){
    font-size: myrem(72);
    line-height: calc(91 / 72);
  }
}

.p-mv__content-text {
  margin-top: myrem(18);
  font-size: myrem(16);
  color: $white;
  line-height: calc(23 / 16);
  font-weight: 700;
  @include mq(md){
    margin-top: myrem(26);
    font-size: myrem(28);
    line-height: calc(36 / 28);
  }
}

.p-mv__images {
  @include mq(md){
    width: myrem(834);
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: myrem(9);
  }
}

.p-mv__swiper {
  @include mq(md){
    width: myrem(412);
    height: myrem(830);
  }
}

.p-mv__swiper--01 {
  
}

.p-mv__swiper--02 {
  margin-top: myrem(4);
  @include mq(md){
    margin-top: 0;
  }
}

.p-mv__swiper-wrapper {
  column-gap: myrem(8);
  transition-timing-function: linear !important;
  @include mq(md){
    height: 100%;
    row-gap: myrem(8);
  }
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.p-mv__swiper-slide {
  @include mq(md){
    width: myrem(412);
    height: myrem(412) !important;
  }
}

.p-mv__swiper-img {

}

.p-mv__swiper-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  aspect-ratio: 1 / 1;
}